video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.botoninicio {
    padding-top: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:map-get($posicion, centrado);
    width: 45%;
    margin: auto;
    position: relative;
    z-index: 2;
}